body {
  background-color: bisque;
  padding-bottom: 30px;
  text-align: center;
}
  
form {
  display: inline-block;
}

ul {
  display: table;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
}
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  